@import"./_variables.scss";
@import"./_header.scss";
@import"./_about.scss";

html{
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    background-color: rgba(color(primary), 0.2);
}

header{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(color(primary),0.4);
}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.school-logos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.pictures{
    flex-flow: row;
}

.flex-block{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.scenes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding:5rem;
    width: 90rem;
    background-color: rgba(color(primary), 0.5);
}
#haikyuu{
    font-size: 2rem;
    border-style: solid;
    border-color: rgba(color(primary),0.6);
    padding:3rem;
    text-align: center;
    width:50rem;
}
#scene1{
    width: 25rem;
}
#scene2{
    width:25rem;
}
#scene3{
    width: 25rem;
}
#flex-child1{
    flex-grow: 1;
    width:32rem;
}
#flex-child2{
    flex-grow: 1;
    width:32rem;

}
#flex-child3{
    flex-grow: 1;
    width:32rem;
}
#flex-child4{
    flex-grow: 1;
    width:32rem;
}
#flex-child5{
    flex-grow:1;
    width:32rem;
}
/* .text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(color(primary),0.8);
} */
#container{
    width: 50%;
    background-color: rgba(color(primary),0.2);
    box-sizing: border-box;
}

.text{
    font-size: 3rem;
    color: rgba(color(secondary),0.9);
    padding: 0.5rem;
    margin-bottom: 0;
}
.subtitle{
    font-size: 2.5rem;
    color: rgba(color(secondary),0.8);
    padding: 0.5rem;
    margin-top: 0;
}