@import"./_variables.scss";
@import"./_header.scss";
@import"./_about.scss";

html{
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.flex-parent{
    background-color: rgba(color(primary), 0.5);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.flex-child{
    background-color: lightgreen;
    color: honeydew;
    border-spacing: 5px;
}